:root {
  --background-color: #a5e6ba;
  --card-heading-color: #5b2a86;
  --card-body-color: #9ac6c5;
  --list-elements-color: #360568;
  --card-heading-text-color: white;
  --main-font: "Antonio", sans-serif;
}

body {
  margin: 0;
  background-color: var(--background-color);
}

#root {
  width: 1126px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  border-inline: 1px solid var(--border);
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.main-box {
  margin: auto auto;
  font-family: var(--main-font);
  width: 350px;
}

h1 {
  font-weight: 500;
  color: var(--card-heading-text-color);
  background-color: var(--card-heading-color);
  font-size: 40px;
  letter-spacing: 8px;
  padding: 20px;
  margin: 0;
  border-radius: 20px 20px 0 0;
  text-transform: uppercase;
}

ul {
  list-style-type: none;
  padding: 5px;
}

li {
  padding: 20px;
  font-size: 25px;
}

.card-box {
  background-color: var(--card-body-color);
  margin: auto auto;
  border-radius: 20px;
  background-image: url("./assets/taboo.png");
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 400px auto;
  border: 1px solid white;
}
